<!-- this is the get request  -->
<h2>Philadelphia Soup Kitchens</h2>

<section id="new-soupkitchen-button-and-form">
  <button class="js-add-new-soupkitchen">Add a new soupkitchen</button>

<!-- ADD THIS FROM JS -->
<div id="load-new-soup-kitchen-form"></div>
  </section>

<!-- ADD THIS? OR DELETE  -->
<section id="more-about-soupkitchens">  </section>

<section id="soupkitchen-data">
  <ul>
    <% @soupkitchens.each do |soupkitchen| %>
     
      <%= soupkitchen.id %><br>
      <%= soupkitchen.name %><br>
      <%= soupkitchen.address %><br>
      Philadelphia, PA <%= soupkitchen.zipcode %>

      <br>

      <button class="js-schedule" data-id="<%= soupkitchen.id %>"> Meal schedule </button> 

      <br>
      
      <button class="js-reviews" data-id="<%= soupkitchen.id %>"> See reviews (and add your own) </button> 

      <div class="load-soupkitchen-comments-here"> </div> 
      
      <br>

    <% end %> 
  </ul> 
 </section> 


<script type="text/javascript" charset="utf-8">
  //later: move to soupkitchens.js
$(document).on "turbolinks: load", function() {

// form for add a new soupkitchen
  $("button.js-add-new-soupkitchen").click(function() {
    
    $.fetch(url, {
      method: GET
    })
    .then(successResponse =>successResponse.json())
    .then(success => XXX)
    .catch(error = > XXX)


    $("#load-new-soup-kitchen-form").text(
  })  

// ?? what resource am I exposeing here? Sk/new -- a form, and sending it to DOM. 
//   $(".add-new-soup-kitchen").click(function() {
//     // WHAT DO I DO HERE? I'VE HIJACKED THE BUTTON, WHERE DO I GET THE FORM TO ADD A NEW ONE. Put it in DOM  "put-new-soup-kitchen-form-here"
//     // Oh, I do a get request.


//     $.getJSON("/soupkitchens/new", function(data){
//       console.log(data);
//       // $(".new-soup-kitchen-form-goes-here").html(data["formMAKE THIS REAL"]);
//     });
//   });
// ??

// load the reviews 
  $("button.js-reviews").click(function() {
   
      let id = $(this).data('id');
    
      $.getJSON("/comments/" + id )
        
        .done(function(data) {
          console.log("success")
          console.log(data)
          
//put the data on the page 
    // $(".put-soupkitchen-comments-here").text()
          

        .error(function() {
          console.log("error")
        })

    
      
       // $("#soupkitchen-" + id).html(data["id"]);
       // $("#soupkitchen-" + name).html(data["name"]);
       // $("#soupkitchen-" + address).html(data["address"]);

      });
    });




</script>
