


<!DOCTYPE html>
<html>
<head>
  <title>BlogFlash</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

# <%= yield %>


  <h2>Philadelphia Soup Kitchens</h2>

<ul>
  <% @soupkitchens.each do |soupkitchen| %>
    <p>
    <%= soupkitchen.id %><br>
    <%= soupkitchen.name %><br>
    <%= soupkitchen.address %><br>

    <%= link_to "See reviews and add your own", soupkitchen_path(soupkitchen) %>
      <br>
   </p>
  <% end %> 

</ul>
  
<%= link_to "Add new soup kitchen", new_soupkitchen_path %>


</body>
</html>
